<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script> 
    <title>
        Add Account
    </title>
</head>

<section>
    <div class="container-fluid w-60 mt-5" >
    <div class="w-50 mx-auto">
        <form #accountForm=ngForm (ngSubmit)="addAccount()">

            <div class="form-group">
                <label for="inputname">Account Holder Name</label>
                <input type="text" class="form-control" id="accountholder" name="accountholder"
                 [(ngModel)]="accountHolder" #namecontrol="ngModel" autocomplete="off" required aria-describedby="accountholderhelp" 
                placeholder="Enter Account Holder Name">
                <small id="accountholderhelp"  class="form-text text-muted alert alert-danger" role="alert" 
                *ngIf="namecontrol.touched && namecontrol.invalid">AccountHolder Name is required</small>
            </div>  
            <div class="form-group">
                <label for="inputmobile">Account Mobile</label>
                <input type="number" class="form-control" id="accountmobile"  name="accountmobile" 
                [(ngModel)]="accountMobile" #mobilecontrol="ngModel"  autocomplete="off" max="10" required aria-describedby="accountmobilehelp"
                placeholder="Enter Mobile No.">
                <small id="accountmobilehelp"  class="form-text text-muted alert alert-danger" role="alert"  
                *ngIf="mobilecontrol.touched && mobilecontrol.invalid">Mobile No. is required</small>
            </div>
            <div class="form-group">
                <label for="inputbalance">Initial Account Balance</label>
                <input type="number" class="form-control" id="accountbalance" name="accountbalance" 
                [(ngModel)]="accountBalance" #balancecontrol="ngModel"  autocomplete="off" required aria-describedby="balancehelp" 
                placeholder="Enter Account Balance">
                <small id="balancehelp"  class="form-text text-muted alert alert-danger" role="alert"
                *ngIf="balancecontrol.touched && balancecontrol.invalid">Initial Balance is required</small>
            </div>         
             
            <div>
                <input type="submit" value="Create Account" [disabled]="accountForm.invalid" class="btn btn-primary" />
            </div>
        </form>
    </div>
    </div>
</section>
<!--
<section>

    <div>
        <h6>{{accountObject.accountId}}</h6>
        <h6>{{accountObject.accountMobile}}</h6>
        <h6>{{accountObject.accountHolder}}</h6>
        <h6>{{accountObject.accountBalance}}</h6>
    </div>
</section>
-->