<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
  <title> MyWallet </title>
  
  
</head>
<!--
<header>
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark navbar-fixed-top">
<a class="navbar-brand" href="#">MyWallet</a>
<div class="collapse navbar-collapse" id="navbarSupportedContent">
  <ul class="navbar-nav navbar-right">
    <li class="nav-item ">
      <a class="nav-link mr-2 text-white" href="add">Add Account <span class="sr-only">(current)</span></a>
    </li>
    <li class="nav-item">
      <a class="nav-link mr-2 text-white" href="list">Get All Accounts</a>
    </li>
    <li class="nav-item dropdown">
      <div ngbDropdown class="d-inline-block">
        <button class="btn btn-outline-primary" id="dropdownMenu1" ngbDropdownToggle>Account Services</button>
        <div ngbDropdownMenu class="dropdown-menu" aria-labelledby="dropdownMenu1">
          <a class="dropdown-item" href="deposit">Deposit Money</a>
          <a class="dropdown-item" href="withdraw">Withdraw Money</a>
          <a class="dropdown-item" href="transfer">Transfer Money</a>
          <a class="dropdown-item" href="update">Update Account Details</a>
          <a class="dropdown-item" href="find">Find Account</a>
          
          <a class="dropdown-item" href="delete">Delete Account</a></div>
      </div>
    </li>
  </ul>
</div>
</nav>
</header>-->
<h4>My Wallet</h4><br><br>

		<a href="add">Add Account</a><br><br>
		<a  href="list">Get All Accounts</a><br><br>
		<a href="deposit">Deposit Money</a><br><br>
        <a href="withdraw">Withdraw Money</a><br><br>
        <a href="transfer">Transfer Money</a><br><br>
        <a href="update">Update Account Details</a><br><br>
        <a href="find">Find Account</a><br><br>
        <a href="delete">Delete Account</a><br><br>


<router-outlet></router-outlet>

